
<style>
footer{
    margin-left: 0;
    margin-right: 0;
    border-top: 3px solid var(--clr-accent);
    text-align: center;
    width: 100%;
    background: var(--clr-dark);
    color: #fff;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    }

.icons{
font-size: var(--fs-h2);
color: var(--clr-accent)
<!--color: #fff;-->
}

.icons i:hover{
cursor: pointer;
color: var(--clr-accent);
}

</style>

<footer class="foot">
    <h6>Thank you for visiting feel free to say hi</h6>
    <div class="icons">
        <i class="fab fa-github"></i>
        <i class="fab fa-linkedin-in"></i>
        <i class="fab fa-youtube"></i>
    </div>
    <p id="contact" style="color: purple">Email: ambrosetall@gmail.com</p>
    <p style="color: purple">Mobile/whatsapp: +254722808670</p>
    <h1>AmbroTall<sup>&copy</sup> 2021</h1>
</footer>